# Archivos sensibles
*.env

# Cachés de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/
.env*/  # por si tenés variaciones

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de configuración de VSCode (opcional)
.vscode/
